.card-title {
    font-size: 25px
}

.card-style {
    border-top: 1px solid grey;
}

/* create modals */
.modal-btn {
    background-color: white;
    color: grey;
}

.modal-form-bg {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid grey;
}

.modal-close {
    margin-left: 14em !important;
}

.update-btn {
    margin-left: 13em !important;
}

.book-card {
    min-width: 338px;
    max-width: 300px;
    max-height: 368px;
    margin-bottom: 10px !important;
    border: none;
}

@media (max-width: 375px) {
    .modal-close {
        margin-left: 9em !important;
    }

    .update-btn {
        margin-left: 8em !important;
    }
}