.nav-look {
    width: 100%;
    z-index: 1;
}

.logo {
    margin-left: 1em;
}

.logo-book {
    color: white;
    font-weight: 800;
    font-size: 100px;
    opacity: 0.3;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.logo-book:hover {
    color: white;
    font-weight: 800;
    font-size: 100px;
    opacity: 0.3;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.link-styled {
    padding: 30px 60px 30px 60px;
    word-spacing: 3px;
    border: none;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 96.9%;
}

.spacing {
    margin-top: 2em;
    margin-left: auto;
    margin-right: 1em;
}

/* desktop */
@media (max-width: 1920px) {
    .mobile-navbar {
      width: 0;
      visibility: hidden;
    }
  }
/* Ipad */
  @media (max-width: 768px) {

    .logo-book {
        line-height: 100%;
    }

    .spacing {
        display: none;
    }

    .mobile-logout-btn {
        visibility: visible;
    }

    .log-button {
        padding: 15px 10px 10px 20px;
        word-spacing: 3px;
        background-color: rgb(93, 98, 104);
        border: none;
    }

    .mobile-navbar {
        visibility: visible;
        position: fixed;
        bottom: 0;
        height: 70px;
        width: 100%;
        z-index: 100;
        background-color: rgb(93, 98, 104);
        overflow: hidden;
      }
      
      ul {
        list-style-type: none;
      }

      .mobile-navbar-list {
        display: flex;
      }

      .mobile-item {
        height: 50px;
        width: 33%;
      }

    .mobile-nav-prof {
        color: rgb(216, 215, 215);
        margin-top: .5em;
        margin-left: 4em !important;
      }

      .mobile-nav-dash {
        color: rgb(216, 215, 215);
        margin-top: .5em;
        margin-left: 3em !important;
      }

      .mobile-nav-exit {
        color: rgb(216, 215, 215);
        margin-top: .5em;
        margin-left: 5em !important;
      }
  }

/* Phone Responsive */
@media (max-width: 375px) {

    .logo-book {
        line-height: 100%;
    }

    .spacing {
        display: none;
    }

    .mobile-logout-btn {
        visibility: visible;
    }

    .log-button {
        padding: 15px 10px 10px 20px;
        word-spacing: 3px;
        background-color: rgb(93, 98, 104);
        border: none;
    }

    .mobile-navbar {
        visibility: visible;
        position: fixed;
        bottom: 0;
        height: 70px;
        width: 100%;
        z-index: 100;
        background-color: rgb(93, 98, 104);
        overflow: hidden;
      }
      
      ul {
        list-style-type: none;
      }

      .mobile-navbar-list {
        display: flex;
      }

      .mobile-item {
        height: 50px;
        width: 33%;
      }
      
      .mobile-nav-prof {
        color: rgb(216, 215, 215);
        margin-top: .7em;
        margin-left: 25px !important;
      }

      .mobile-nav-dash {
        color: rgb(216, 215, 215);
        margin-top: .7em;
        margin-left: 20px !important;
      }

      .mobile-nav-exit {
        color: rgb(216, 215, 215);
        margin-top: .7em;
        margin-left: 35px !important;
      }

}