@font-face {
  font-family: Saira-Condensed;
  src: url(./assets/SairaExtraCondensed-Black.ttf);
}

#headerTitle {
  font-family: Saira-Condensed;
  font-size: 2em;
}

/* PROFILE */
.Profile{
  position: absolute;
  width: 218px;
  height: 83px;
  left: 38em;
  top: 2em;
  
  font-family: 'Saira ExtraCondensed';
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 96.9%;
  /* or 48px */

  background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  }

  .Home {
  position: absolute;
  width: 218px;
  height: 83px;
  left: 30em;
  top: 2em;
  
  font-family: 'Saira ExtraCondensed';
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 96.9%;
  /* or 48px */

  background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  }

  .Login {
    position: relative;
    width: 343px;
    height: 131px;
    left: 19em;
    top: -17em;
    
    font-family: 'Saira ExtraCondensed';
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 96.9%;
    /* or 48px */
  
    background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-style: none;
      border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .Signup {
    position: relative;
    width: 343px;
    height: 131px;
    left: 19em;
    top: -15em;
    
    font-family: 'Saira ExtraCondensed';
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 96.9%;
    /* or 48px */
  
    background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-style: none;
      border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  li {
    margin: 0;
  }